# Ignore version control system files
.git
.gitignore
.gitattributes
.github/

# Ignore temporary and build-related files
bin/
target/
mvnw
mvnw.cmd
*.md
**/.*log
*.gz
*.zip
*.tar
*.rar
*.pyc
*.pyo
*.pyd
__pycache__
.DS_Store
*.swp
*.swo

# Ignore editor-related files
.vscode
.idea

# Ignore system files
Thumbs.db
.DS_Store
ehthumbs.db
Icon?
ehthumbs_vista.db
Desktop.ini
scripts/
README.md

# Ignore app files
scripts/
README.md
LICENSE

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

!pom.xml
!src/